*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAV BAR */
.navbar{
    padding: 0 4rem;
    height: 8rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height:4rem;
}
.company_name{
    margin-left: 5px;
    height:2.5rem;
    margin-bottom: .5rem;
}
.navbar_menu{
    list-style: none;
    display: inline-flex;
}
.navbar_items{
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    align-self: center;
}
.navbar_items:hover{
    cursor: pointer;
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    color: darkblue;
}
.navbar_items>a>button{
    padding: .5rem .5rem;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(114, 194, 175);
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    color: white;
}
/* Content */
.content{
    height: 28rem;
}
/* bagian atas */
.registration{
    height:inherit;
}
.arrow{
    height: 4rem;
    opacity: 50%;
}
.segmen_arrow{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height:15rem;
    background-color: rgb(114, 194, 175);
}
.arrow_left{
    order: 1;
}
.arrow_right{
    order: 3;
} 
/* FORMNYA */
.form_cari_penerbangan{
    height: 16rem;
    width: 36rem;
    margin-left: -18rem;
    position: absolute;
    top: 19rem;
    left: 50%;
    border: 1px solid;
    border-radius: 20px;
    background-color: aliceblue;
}
.registration_step{
    height:1rem;
    width: 100%;
    display: inline-flex;
    position: absolute;
    top: 17.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.progress_bar{
    height:.5rem;
    width: 3rem;
    margin: 0 3px;
    border-radius: 3px;
    display: inline-flex;
    background: slategray;
}
.form1{
    margin-top: .5rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.label{
    padding-left: 15px;
    font-weight: 500;
    color: slategrey;
}
.label_flight{
    font-weight: 500;
    color: slategrey;
    padding-left: 1rem;
}
.select_flight{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
}
.input{
    border: solid slategray 1px;
    height: 1.4rem;
    width: 14rem;
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.form2{
    margin-top: .5rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form3{
    margin-top: .5rem;
    width: 28rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
}
.pass_number{
    width: 5rem;
    margin: 0 2px;
}
.passenger_form{
    width: 3rem;
}
.submit_button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 24rem;
    background-color: rgb(114, 194, 175);
    border-radius: 10px;
    border: 1px solid slategray;
    justify-content: right;
    font-weight: 560;
    color: white;
}
/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
/* register page */
.regis_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_regis{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo_form{
    height: 5rem;
}
.nama{
    height: 3rem;
    margin-left: 1rem;
}
.regis_container{
    margin-top: 2rem;
    height: 23rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px slategrey;
    border-radius: 2rem;
    padding: 2rem;
}
.judul{
    font-size: x-large;
    text-transform: capitalize;
}
.regis_name{
    display: flex;
    flex-direction: column;
}
.name{
    height:2rem;
    border: slategray 1px solid;
    border-radius: .5rem;
    margin-top: 1.2rem;
    padding-left: .7rem;
}
.birth_date{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bdate{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    text-align: center;
}
#bmonth{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    padding-left: 1rem;
}
#byear{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    text-align: center;
}
#alamat{
    height:2rem;
    width: 100%;
    border:  slategray solid 1px;
    border-radius: .5rem;
    padding-left:1rem;
    margin-top: 1.2rem;
}
#next{
    width: 100%;
    height: 2rem;
    margin-top:1.2rem;
    background-color: rgb(114, 194, 175);
    border-radius: 1rem;
    color:white;
    font-size: medium;
    border: 0;
}