*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAV BAR */
.navbar{
    padding: 0 4rem;
    height: 8rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height:4rem;
}
.company_name{
    margin-left: 5px;
    height:2.5rem;
    margin-bottom: .5rem;
}
.navbar_menu{
    list-style: none;
    display: inline-flex;
}
.navbar_items{
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    align-self: center;
}
.navbar_items:hover{
    cursor: pointer;
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    color: darkblue;
}
.navbar_items>a>button{
    padding: .5rem .5rem;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(114, 194, 175);
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    color: white;
}
/* Content */
.content{
    height: 28rem;
}
/* bagian atas */
.registration{
    height:inherit;
}
.arrow{
    height: 4rem;
    opacity: 50%;
}
.segmen_arrow{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height:15rem;
    background-color: rgb(114, 194, 175);
}
.arrow_left{
    order: 1;
}
.arrow_right{
    order: 3;
} 
/* FORMNYA */
.form_cari_penerbangan{
    height: 16rem;
    width: 36rem;
    margin-left: -18rem;
    position: absolute;
    top: 19rem;
    left: 50%;
    border: 1px solid;
    border-radius: 20px;
    background-color: aliceblue;
}
.registration_step{
    height:1rem;
    width: 100%;
    display: inline-flex;
    position: absolute;
    top: 17.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.progress_bar{
    height:.5rem;
    width: 3rem;
    margin: 0 3px;
    border-radius: 3px;
    display: inline-flex;
    background: slategray;
}
.form1{
    margin-top: .5rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.label{
    padding-left: 15px;
    font-weight: 500;
    color: slategrey;
}
.label_flight{
    font-weight: 500;
    color: slategrey;
    padding-left: 1rem;
}
.select_flight{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
}
.input{
    border: solid slategray 1px;
    height: 1.4rem;
    width: 14rem;
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.form2{
    margin-top: .5rem;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form3{
    margin-top: .5rem;
    width: 28rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
}
.pass_number{
    width: 5rem;
    margin: 0 2px;
}
.passenger_form{
    width: 3rem;
}
.submit_button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 24rem;
    background-color: rgb(114, 194, 175);
    border-radius: 10px;
    border: 1px solid slategray;
    justify-content: right;
    font-weight: 560;
    color: white;
}
/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

/* Login Page */
.login_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_name_holder{
    display: flex;
    float: row;
    align-items: center;
}
.logom{
    height: 5rem;
    margin-right: .5rem;
}
.namem{
    height: 3rem;
    margin-left: .5rem;
}
.login_form{
    margin-top: 2rem;
    width:25rem;
    height:25rem ;
    padding: 0 2rem;
    border: slategray 2px solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.login_title{
    font-size: x-large;
}
.input{
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    margin-top:.7rem;
    padding-left: 10px;
}
.remmember_box{
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
}
.rmb_label{
    margin-left: .5rem;
    font-size: medium;
}
.forgot{
    color: rgb(114, 194, 175);
    text-decoration: none;
    font-size: small;
    align-self: center;
}
.forgot:hover{
    text-decoration: underline; 
}
.login_button{
    margin-top: 1rem;
    width: 100%;
}
.lgn_button{
    width: 100%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
}
.lgn_button:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}
.newto_line{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newto{
    text-decoration: none;
    color: rgb(114, 194, 175);
}
.createnew_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}
.createnew_button>a{
    width: 100%;
    cursor: pointer;
}
.createnew{
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: rgb(114, 194, 175);
    font-size: large;
    color: white;
}
.createnew:hover{
    background-color: rgb(109, 247, 205);
}
/* register page */
