*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
/* NAV BAR */
.navbar{
    padding: 0 4rem;
    height: 8rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height:4rem;
}
.company_name{
    margin-left: 5px;
    height:2.5rem;
    margin-bottom: .5rem;
}
.navbar_menu{
    list-style: none;
    display: inline-flex;
}
.navbar_items{
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    align-self: center;
}
.navbar_items:hover{
    cursor: pointer;
    margin: 0 1vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    color: darkblue;
}
.navbar_items>a>button{
    padding: .5rem .5rem;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(114, 194, 175);
    text-transform: capitalize;
    font-size:16px;
    font-weight: 600;
    color: white;
}
/* Content */
.content{
    height: 40rem;
}
/* bagian atas */
.registration{
    height:inherit;
}
.arrow{
    height: 4rem;
    opacity: 50%;
}
.segmen_arrow{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height:15rem;
    background-color: rgb(114, 194, 175);
}
.arrow_left{
    order: 1;
}
.arrow_right{
    order: 3;
} 
/* FORMNYA */
.form_cari_penerbangan{
    height: 16rem;
    width: 36rem;
    margin-left: -18rem;
    position: absolute;
    top: 19rem;
    left: 50%;
    border: 1px solid;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.registration_step{
    height:1rem;
    width: 100%;
    display: inline-flex;
    position: absolute;
    top: 17.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.progress_bar{
    height:.5rem;
    width: 3rem;
    margin: 0 3px;
    border-radius: 3px;
    display: inline-flex;
    background: slategray;
}
.form1{
    margin-top: 1.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.label_index{
    padding-left: 15px;
    font-weight: 500;
    color: slategrey;
    width: 14rem;
    margin-top: .5rem;
}
.label_flight{
    font-weight: 500;
    color: slategrey;
    padding-left: 1rem;
    align-self: flex-start;
}
.select_flight{
    height: 2rem;
    width: 10rem;
    border-radius: 10px;
    align-self: flex-start;
}
.passenger{
    margin-top: 1.7rem;
    align-self: flex-end;
    justify-content: center;
}
.input_index{
    border: solid slategray 1px;
    height: 1.4rem;
    width: 14rem;
}
.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.form2{
    margin-top: 1.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
/* .form3{
    margin-top: .5rem;
    width: 28rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
} */
.pass_number{
    width: 3rem;
    height: 2rem;
    margin: 0 0;
    border: slategray 1px solid;
    text-align: center;
}

.submit_button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: rgb(114, 194, 175);
    border-radius: 10px;
    border: 1px solid slategray;
    align-self: flex-end;
    font-weight: 500;
    color: white;
}
.submit_button:active{
    background-color: rgb(114, 180, 175);
    border: 3px;
}
/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

/* Login Page */
.login_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_name_holder{
    display: flex;
    float: row;
    align-items: center;
}
.logom{
    height: 5rem;
    margin-right: .5rem;
}
.namem{
    height: 3rem;
    margin-left: .5rem;
}
.login_form{
    margin-top: 2rem;
    width:25rem;
    height:25rem ;
    padding: 0 2rem;
    border: slategray 2px solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.login_title{
    font-size: x-large;
}
.input{
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    margin-top:.7rem;
    padding-left: 10px;
}
.remmember_box{
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;
}
.rmb_label{
    margin-left: .5rem;
    font-size: medium;
}
.forgot{
    color: rgb(114, 194, 175);
    text-decoration: none;
    font-size: small;
    align-self: center;
}
.forgot:hover{
    text-decoration: underline; 
}
.login_button{
    margin-top: 1rem;
    width: 100%;
}
.lgn_button{
    width: 100%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
}
.lgn_button:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}
.newto_line{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newto{
    text-decoration: none;
    color: rgb(114, 194, 175);
}
.createnew_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}
.createnew_button>a{
    width: 100%;
    cursor: pointer;
}
.createnew{
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: rgb(114, 194, 175);
    font-size: large;
    color: white;
}
.createnew:hover{
    background-color: rgb(109, 247, 205);
}
/* register page */
.regis_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_regis{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo_form{
    height: 5rem;
}
.nama{
    height: 3rem;
    margin-left: 1rem;
}
.regis_container{
    margin-top: 2rem;
    height: 23rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px slategrey;
    border-radius: 2rem;
    padding: 2rem;
}
.judul{
    font-size: x-large;
    text-transform: capitalize;
}
.regis_name{
    display: flex;
    flex-direction: column;
}
.name{
    height:2rem;
    border: slategray 1px solid;
    border-radius: .5rem;
    margin-top: 1.2rem;
    padding-left: .7rem;
}
.birth_date{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bdate{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    text-align: center;
}
#bmonth{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    padding-left: 1rem;
}
#byear{
    height:2rem;
    width: 6rem;
    border:  slategray solid 1px;
    border-radius: .5rem;
    text-align: center;
}
#alamat{
    height:2rem;
    width: 100%;
    border:  slategray solid 1px;
    border-radius: .5rem;
    padding-left:1rem;
    margin-top: 1.2rem;
}
#next{
    width: 100%;
    height: 2rem;
    margin-top:1.2rem;
    background-color: rgb(114, 194, 175);
    border-radius: 1rem;
    color:white;
    font-size: medium;
    border: 0;
}





/*Register Page #2*/
.register_email_form{
    margin-top: 3rem;
    width:65rem;
    height:18rem ;
    background-color: white;
    border: rgb(200, 211, 221) 2px solid;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 9rem;
}
.register_email_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register_email_logo{
    display: flex;
    float: row;
    align-items: center;
}
.logoe{
    height: 5rem;
    margin-right: .5rem;
}
.namee{
    height: 3rem;
    margin-left: .5rem;
}
.input_register{
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    margin-top:.7rem;
    padding-left: 10px;
    color: whitesmoke;
}
.register_email_right{
    margin-right: 2rem;
}
.register_email_left {
    display: grid;
    grid-template-columns: 20rem;
    padding: 2rem 2rem;
}
.register_email_title{
    font-family: 'Lato';
    font-size: x-large;
}
.is_this_u{
    font-family: 'Lato';
    font-size: 3rem;
    color: rgb(114, 194, 175); 
    text-align: center;
    margin-top: 5rem;
}
.register_email_button{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;   
}
.register_email_choose{
    width: 32%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: gray;
    background-color: whitesmoke;
    border:1px;
    border-radius: 1rem;
}
.choosefile1{
    font-family: 'Lato';
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: whitesmoke;
    font-size: large;
    color: black;
}
.choosefile1:hover{
    cursor:pointer;
    background-color: rgb(204, 197, 197);
}
.yes_button{
    width: 32%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
}
.yes{
    font-family: 'Lato';
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: rgb(114, 194, 175);
    font-size: large;
    color: white;
}
.yes:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}
.person_register{
    margin-top: 2.5rem;
    width: 150px;
    height: 150px;
    border-radius: 10% 10%;
    margin-right: 5rem;
}
.register_email_desc{
    display: flex;
    justify-content: space-between;
}
.border{
    margin-top: 3rem;
}



/*Confirm ID Page*/
.confirm_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_confirm_name{
    display: flex;
    float: row;
    align-items: center;
}
.logoc{
    height: 5rem;
    margin-right: .5rem;
}
.namec{
    height: 3rem;
    margin-left: .5rem;
}
.confirm_right{
    display: flex;
    justify-content: right;
    align-items: right;
}
.person{
    margin-top: 2.5rem;
    width: 320px;
    height: 320px;
    border-radius: 10% 10%;
}
.confirm_left {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5rem 2rem;
}
.confirm_form{
    margin-top: 3rem;
    width:65rem;
    height:25rem ;
    padding: 0 3rem;
    background-color: white;
    border: rgb(200, 211, 221) 2px solid;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.confirm_title,
.confirm_desc{
    font-family: 'Lato';
    color: rgb(114, 194, 175);  
    font-size: xx-large;
}
.confirm_desc{
    margin-top: 1rem;
    font-size: x-large;
}
.confirm_button{    
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;   
    margin-top: 8.5rem;
}
.choose_button{
    width: 45%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: gray;
    background-color: whitesmoke;
    border:1px;
    border-radius: 1rem;
}
.choosefile2{
    font-family: 'Lato';
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: whitesmoke;
    font-size: large;
    color: black;
}
.choosefile2:hover{
    cursor:pointer;
    background-color: rgb(204, 197, 197);
}
.done_button{
    width: 45%;
    height: 2.2rem;
    font-size: large;
    text-transform: uppercase;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
}
.done{
    font-family: 'Lato';
    height: 2.2rem;
    width: 100%;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    background-color: rgb(114, 194, 175);
    font-size: large;
    color: white;
}
.done:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}


/*Success Page*/
.success_body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_success_name{
    display: flex;
    float: row;
    align-items: center;
}
.logos{
    height: 5rem;
    margin-right: .5rem;
}
.names{
    height: 3rem;
    margin-left: .5rem;
}
.success_form{
    margin-top: 3rem;
    width:35rem;
    height:15rem ;
    padding: 0 3rem;
    background-color: white;
    border: rgb(200, 211, 221) 2px solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12rem;
}
.success_desc{
    font-family: 'Lato';
    color: rgb(114, 194, 175);  
    font-size: x-large;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.success_button{
    margin-top: 2rem;
    margin-left: 9rem ;
    width: 80%;
}
.proceed{
    width: 50%;
    height: 2.2rem;
    font-size: large;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
    font-family: 'Lato';
}
.proceed:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}
.thanks{
    font-family: 'Lato';
    color: rgb(114, 194, 175);  
    font-size: 200;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}



/*Change Pass*/
.navbar_pass{
    padding: 0 4rem;
    height: 8rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_pass{
    height:4rem;
}
.company_name_pass{
    margin-left: 5px;
    height:2.5rem;
    margin-bottom: .5rem;
}
.navbar_menu_pass{
    list-style: none;
    display: inline-flex;
}
.navbar_items_pass{
    margin: 0 5vh;
    text-transform: capitalize;
    font-family: 'Lato';
    color: gray;
    font-size:20px;
    font-weight: 600;
    align-self: center;
}
.navbar_items_pass:hover{
    cursor: pointer;
    margin: 0 5vh;
    text-transform: capitalize;
    font-size:20px;
    font-weight: 600;
    color: rgb(109, 247, 205);
}
.person_pass{
    width: 50px;
    height: 50px;
    border-radius: 10% 10%;
}
.change_pass_form{
    margin-top: 2rem;
    margin-left: 6rem;  
    margin-bottom: 5rem;
    width:30rem;
    height:25rem ;
    padding: 0 3rem;
    background-color: whitesmoke;
    border: whitesmoke 2px solid;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.change_pass_email{
    font-family: 'Lato';
    color: gray;
    font-size: larger;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.old_pass_title,
.new_pass_title{
    font-family: 'Lato';
    color: gray;
    font-size: larger;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.change_pass_email_user{
    font-family: 'Lato';
    color: black;
    font-size: larger;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.input_change_pass{
    border-radius: 10px;
    height: 2.5rem;
    width: 70%;
    margin-top:.7rem;
    padding-left: 10px;
    color: black;
}
.save_pass_button{
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 12rem;
}
.save{
    width: 50%;
    height: 2.2rem;
    font-size: large;
    color: white;
    background-color: rgb(114, 194, 175);
    border:0px;
    border-radius: 1rem;
    font-family: 'Lato';
}
.save:hover{
    cursor:pointer;
    background-color: rgb(109, 247, 205);
}
.copyright_pass{
    font-family: 'Lato';
    color: gray;
    font-size: large;
}